certifi==2020.6.20
cffi==1.14.5
click==7.1.2
configparser==3.5.0
enum34==1.1.10
future==0.18.2
ipaddress==1.0.23
pefile==2017.9.3
pip==19.3.1
pycparser==2.20
pycryptodome==3.10.1
scapy==2.4.5
six==1.16.0
spark-parser==1.6.1
telnetsrv==0.4
tqdm==4.61.1
uncompyle6==2.11.5
unpy2exe==0.3
wheel==0.36.2
wincertstore==0.2
xdis==3.5.5
